<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

		<!-- zoom in mobile browsers -->
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.25,user-scalable=0">

		<!-- Removes the Safari toolbars in iOS -->
		<!-- Leaving commented out for now because of a bug -->
		<!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->

		<!-- TODO: favicon line commented out because I have not created the favicon yet -->
		<!-- <link rel="shortcut-icon" rel="image/x-icon" href="/public/images/icons/favicon.ico" /> -->
		<link rel="apple-touch-icon-precomposed" href="/public/images/icons/apple-touch-icon-57x57-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/images/icons/apple-touch-icon-72x72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/images/icons/apple-touch-icon-114x114-precomposed.png" />

		<link rel="stylesheet" type="text/css" href="/public/css/default/ui.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/menus.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/header.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/intraboxes.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/panes.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/home.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/calendar.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/news.css" />

		<!-- TODO: these should have "light" replaced with a reference to the theme -->
		<link rel="stylesheet" type="text/css" href="/public/css/light/ui.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/menus.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/header.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/intraboxes.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/panes.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/home.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/news.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/calendar.css" />

		<title><%- title %> - TJ Intranet</title>
	</head>
	<body>
		<!-- header template -->
		<div id="intraboxes">
			<!-- foreach intrabox -->
				<!-- intrabox template -->
			<!-- /foreach -->
		</div>
		<div class="pane" id="mainPane">
			<div class="paneHeader"><%= mainPane.title %></div>
			<div class="paneContent"><%- partial(mainPane.view, mainPane) %></div>
		</div>
		<!-- if applicable -->
		<% if(subPane){ %>
				<div class="pane" id="subPane">
					<div class="paneHeader"><%= subPane.title %></div>
					<div class="paneContent"><%- partial(subPane.view, subPane) %></div>
				</div>
		<% } %>
		<!-- end if -->
	</body>
</html>
